{{> head }}



    {{!-- El nombre de la partial es el nombre del archivo sin el .hbs --}}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ea accusamus veritatis quia ut voluptatibus unde ipsa! Maxime eligendi explicabo blanditiis ratione sapiente, praesentium, nostrum dicta non doloribus mollitia illum!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/rose.jpg" class="img-thumbnail">
    </div>
</div>



{{> footer}}